# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\1. UTCN\An II\Semestrul I\1. POO - Brehar\4. Proiect\B&D intelliJ\DB\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
